
body {
    background: url("image/Background-BB-1600px.jpg"); /* Links to your background image, which you can also replace with a URL. */
    background-size: cover; /* Image covers page. */
    background-repeat: no-repeat; /* Image does not repeat. */
    background-attachment: fixed; /* Image doesn't move when you scroll up or down. */
    background-position: top;
    text-align: center;
    color: white; /* Text color. */
    font-family: 'Avenir', sans-serif; /* Font: sans-serif included in case browser doesn't support first option. */
}
div.header{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo:link, #logo:visited {
    margin-top: 10%;
    background-color: darkcyan;
    border-radius: 1.5em;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#logo:hover, #logo:active {
    background-color: grey;
}

#navbarCollapse > ul:nth-child(1) > li.active > a {
    padding: 40px;
    padding-top: 20%
}
#navbarCollapse > ul:nth-child(1) > li.active > a > strong > em {
    font-size: xx-large;
    color: #cccccc;
}
.hemp img {
    height: 20%;
 }

h1 {
    font-size: 100px;
}

h2 {
    font-size: 40px;
}
.navbar{
    min-height: 70px;
    z-index: 1;
}
/* This just centers the header container vertically on the page. */
.container-fluid {
    height: 200px;
    width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Styling for icons. */
.fa {
    color: white;
    margin: 10px 5px;
    font-size: 3em !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    margin-bottom: 10%;
    margin-top: 20%;
}

body > footer > div > div {
    background-color: rgba(32, 178, 170, 0.28);
}

div.icons {
    margin-top: 100px;
}

/*BLOCKQUOTE
 */
blockquote {
    color: black;
    background: rgba(249, 249, 249, 0.57);
    border-left: 10px solid #ccc;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
/*!*blockquote:before {*!*/
    /*!*color: rgba(204, 204, 204, 0.56);*!*/
    /*!*content: open-quote;*!*/
    /*!*font-size: 4em;*!*/
    /*!*line-height: 0.1em;*!*/
    /*!*margin-right: 0.25em;*!*/
    /*!*vertical-align: -0.4em;*!*/
/*!*}*!*/
/*!*blockquote p {*!*/
    /*!*display: inline;*!*/
/*!*}*!*/


/*!*Styling for Model*/
 /**!*/
button {
    margin: 1%;
    padding: 2.5%;
    color: #20b2aa;
    background-color: #333333;
    border: 1em;
    border-radius: 50%;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color: #000;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #20b2aa;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #20b2aa;
    color: white;
}

